* {
  margin: 0;
  padding: 0;
}
/* body{
    border: 2px solid blue;
} */

.navbar {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-block: 1.5rem;
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-btn {
  padding: 0.75rem;
  text-transform: capitalize;
  font-weight: bold;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

header {
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 221px 44px 221px;
}
.header-container {
  max-width: 998px;
}
.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title {
  font-size: 3rem;
  font-weight: bold;
}
.header-article {
  text-align: center;
  padding: 0.5rem 0rem 2rem 0rem;
}
.header-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button {
  text-decoration: none;
  background: #000;
  color: #ffff;
  padding: 1rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

/* why web dev section style start */
.web-dev-container {
  display: grid;
  padding-block: 6rem;
  gap: 2rem;
}
.web-dev-header{
  display: grid;
  place-items: center;
}
.web-dev-header> h2, p{
text-align: center;

}
.web-dev-header> h2{
  text-transform: capitalize;
}
.web-dev-header>  p{
text-align: center;
width: 100ch;
}
.inspiration-container > p,
h2 {
  text-align: center;
  padding-bottom: 1.5rem;
}
.web-dev-container > p {
  text-align: center;
}
.web-dev-card-container {
  display: grid;
  place-items: center;
}
.web-dev-card {
  /*max-width: 946px;
  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  padding: 3rem;
  max-width: 940px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.web-dev-card-1 {
  background-image: linear-gradient(to right, #f5f4f4, #faf5f5);
}
.web-dev-card-2 {
  background-image: linear-gradient(to right, #faf5f5, #f5f4f4);
}
.web-dev-card-3 {
  background-image: linear-gradient(to right, #f5f4f4, #faf5f5);
}
.web-dev-text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.web-dev-text-content > h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.web-dev-text-content > p {
  text-transform: capitalize;
  padding-bottom: 3rem;
  text-align: left;
}
.web-dev-img-content {
  width: 240px;
}
.web-dev-text-content [type="button"] {
  padding: 0.75rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid #0d1321;
  color: #0d1321;
  cursor: pointer;
}
/* why web dev section style end */

/* Inspiration style section start here */
.inspiration-container {
  padding-bottom: 3rem;
  display: grid;
  place-items: center;
}
.inspiration-container > h2 {
  text-transform: capitalize;
}
.inspiration-container > p {
  padding-bottom: 3rem;
  max-width: 800px;
}
.inspiration-video-container {
  display: grid;
  place-items: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.inspiration-video {
}
/* Inspiration style section ends here */

/* My current target style start form here. */
.current-target-container {
  display: grid;
  place-items: center;
}
.current-target-container > p,
h2 {
  text-align: center;
}
.current-target-container > h2 {
  text-transform: capitalize;
  font-weight: bold;
}
.current-target-cart-main-container {
  display: flex;
  gap: 1rem;
  max-width: 1140px;
}
.current-target-container > p {
  padding-bottom: 3rem;
}
.current-target-card {
  padding: 2.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.current-target-card > div {
  display: grid;
  place-items: start;
  gap: 1rem;
}
.current-target-card > img {
  padding-bottom: 1.5rem;
}
.current-target-card > div > h4 {
  text-transform: capitalize;
}
.current-target-card > div > a {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

.current-target-card-1 {
  background: hsl(19 100% 56% / 0.5);
}
.current-target-card-2 {
  background: hsl(215 100% 48% / 0.5);
}
.current-target-card-3 {
  background: hsl(52 100% 50% / 0.5);
}
/* My current target style ends here */

/* I need support section start */
.support-container {
  display: grid;
  place-items: center;
  /* width: 100%; */
  padding-block: 3rem;
}
.need-support-container {
  width: 1140px;
}
.need-support-article {
  padding-bottom: 1.5rem;
  color: #e9e7e7;
}
.need-support-section-container {
  background-image: url(./assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  padding: 4rem;

}
.support-wrapp {
  display: grid;
  place-items: center;
}
.need-support-title {
  font-style: 1rem;
  font-weight: bold;
  color: #f7f7f7;
}
.need-support-section-input-section > div > input {
  background: #ffffff;
  border: none;
  outline: none;
  padding: 1rem;
  width: 300px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.need-support-section-input-section > div > button {
  background: #ffffff;
  border: none;
  outline: none;
  padding: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
}
/* I need support section End */

/* Footer section style start */
footer{
  background: hsl(222 43% 9% / .3);
  padding-inline: 9.375rem;
  padding-block: 2rem;
}
#footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}
.social-media-links{
  display: flex;
  gap: 1rem;
}
.footer-title{
  text-transform: capitalize;
  font-weight: bold;
}

/* Footer section style End */